{{#each sessions as |session|}}

    <table>
        <thead>
        <tr>
            <th style="border-bottom: black 1px solid">Full Court List for {{session.dateOfHearing}}</th>
            <th style="border-bottom: black 1px solid" class="right-cell">{{session.courtName}}</th>
        </tr>
        <tr>
            <th>LJA: {{session.localJusticeArea}}</th>
            <th class="right-cell">CMU: {{session.crimeManagementUnit}}</th>
        </tr>
        <tr>
            <th style="border-bottom: black 1px solid">Session: {{session.startTime}} - {{session.endTime}} </th>
            <th style="border-bottom: black 1px solid" class="right-cell">Courtroom: {{session.courtRoom}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each session.blocks as |block|}}
            <tr>
                <td colspan="2">
                    <table style="margin-bottom: 60px">
                        <thead>
                        <tr>
                            <th colspan="2" style="border-bottom: black 1px solid">Block: {{block.startTime}}
                                - {{block.endTime}}  {{block.description}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each block.cases as |case|}}
                            <tr>
                                <td style="padding-top: 10px">{{case.caseSequence}}</td>
                                <td>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th width="40%"><span
                                                    style="font-weight: bold">{{case.defendant.name}}</span>
                                                ({{case.defendant.gender}})
                                            </th>
                                            <th>{{#if case.defendant.dateOfBirth}}DOB: {{case.defendant.dateOfBirth}}
                                                Age: {{case.defendant.age}}{{/if}}</th>
                                            <th class="right-cell" style="font-weight: bold">{{case.caseNumber}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">
                                                {{#if case.defendant.address.line1}}{{case.defendant.address.line1}}
                                                    ,{{/if}}
                                                {{#if case.defendant.address.line2}}{{case.defendant.address.line2}}
                                                    ,{{/if}}
                                                {{#if case.defendant.address.line3}}{{case.defendant.address.line3}}
                                                    ,{{/if}}
                                                {{#if case.defendant.address.line4}}{{case.defendant.address.line4}}
                                                    ,{{/if}}
                                                {{#if case.defendant.address.line5}}{{case.defendant.address.line5}}
                                                    ,{{/if}}
                                                {{#if case.defendant.address.postcode}}{{case.defendant.address.postcode}}{{/if}}
                                            </td>
                                            <td class="right-cell">
                                                ({{case.listingNumber}} Listing)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">{{case.solicitor}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{#if case.informant}}Informant: {{case.informant}}{{/if}}</td>
                                            <td>{{#if case.urn}}URN: {{case.urn}}{{/if}}</td>
                                            <td>{{#if case.asn}}ASN: {{case.asn}}{{/if}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">{{case.additionalInformation}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">{{#if case.bailConditions}}
                                                Pre-hearing cond: {{case.bailConditions}}{{/if}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Estimated duration: {{case.estimatedDuration}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table>
                                                    <tbody>
                                                    {{#each case.offences as |offence|}}
                                                        <tr>
                                                            <td width="30px">{{offence.sequence}}</td>
                                                            <td>
                                                                <div>
                                                                    <span>{{offence.code}}</span>
                                                                    <span style="font-weight: bold">{{offence.title}}</span>
                                                                </div>
                                                                <div>
                                                                    {{offence.summary}}
                                                                </div>
                                                                <div>
                                                                    {{offence.contraryToActAndSection}}
                                                                </div>
                                                                <div>
                                                                    {{offence.statementOfFact}}
                                                                </div>
                                                                <div>
                                                                    {{#if offence.plea}}Plea: {{offence.plea}} Plea
                                                                        Date: {{offence.pleaDate}}{{/if}}
                                                                </div>
                                                                <div>
                                                                    {{#if offence.adjournedDate}}
                                                                        Adjourned from: {{offence.adjournedDate}}
                                                                        , {{offence.adjournedReason}}{{/if}}
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><a title="SPIKE to show how we might request an OM update" href="javascript:sendOMUpdateRequest('{{case.caseNumber}}', '{{session.dateOfHearing}}','{{escape session.courtName}}')">Request OM Update</a></td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/each}}
